{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}login{% endtrans %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-4">

                <div class="card mt-5">
                    <div class="card-header">Login</div>
                    <div class="card-body">

                    </div>
                    <form method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <div class="card-body pt-0">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            <div class="input-group mb-3">
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                       class="form-control" required autofocus
                                       placeholder="E-mail address">
                            </div>

                            <div class="input-group mb-3">
                                <input type="password" name="password" id="inputPassword" class="form-control" required
                                       placeholder="password">
                            </div>

                            <div class="form-check form-switch">
                                <input name="_remember_me" class="form-check-input" type="checkbox"
                                       id="flexSwitchCheckChecked">
                                <label class="form-check-label" for="flexSwitchCheckChecked">Remember me</label>
                            </div>

                            <div class="text-right mt-4">
                                <button class="btn btn-dark" type="submit">
                                    continue
                                </button>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
