# phpstan.neon
includes:
    - vendor/symplify/phpstan-extensions/config/config.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/symplify/coding-standard/config/symplify-rules.neon
    - vendor/slam/phpstan-extensions/conf/slam-rules.neon
    - vendor/slam/phpstan-extensions/conf/symfony-rules.neon

services:
    -
        class: Symplify\CodingStandard\Rules\ForbiddenParentClassRule
        tags: [phpstan.rules.rule]
        arguments:
            forbiddenParentClasses:
                - 'Doctrine\Bundle\DoctrineBundle\Repository\ServiceEntityRepository'

parameters:
    reportUnmatchedIgnoredErrors: false

    # see https://github.com/phpstan/phpstan-doctrine
    doctrine:
        objectManagerLoader: tests/object-manager.php

    paths:
        - src

    level: max

    excludes_analyse:
        # messy Symfony
        - src/Entity/User.php

    ignoreErrors:
        - '#Method App\\Form\\ProjectFormType\:\:buildForm\(\) has parameter \$formBuilder with no value type specified in iterable type Symfony\\Component\\Form\\FormBuilderInterface#'

        # split later
        -
            message: '#Too many public elements on class - \d+. Try narrow it down under \d+#'
            paths:
                - src/Entity
