# phpstan.neon
includes:
    - vendor/symplify/phpstan-extensions/config/config.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/symplify/coding-standard/config/symplify-rules.neon
    - vendor/slam/phpstan-extensions/conf/slam-rules.neon
    - vendor/slam/phpstan-extensions/conf/symfony-rules.neon

rules:
    - Symplify\CodingStandard\Rules\ForbiddenParentClassRule
    - CleaningLadyList\Utils\PHPStan\Rule\NoEntityManagerInControllerRule
    - CleaningLadyList\Utils\PHPStan\Rule\NoGetRepositoryOutsideConstructorRule

parameters:
    symplify:
        forbidden_parent_classes:
            - 'Doctrine\Bundle\DoctrineBundle\Repository\ServiceEntityRepository'

    # see https://github.com/phpstan/phpstan-doctrine
# TODO: temporarily disabled
#    doctrine:
#        objectManagerLoader: tests/object-manager.php

    paths:
        - src
        # @todo uncomment later
#        - utils

    level: max

    excludes_analyse:
        # messy Symfony
        - src/Entity/User.php

    ignoreErrors:
        - '#Method App\\Form\\ProjectFormType\:\:buildForm\(\) has parameter \$formBuilder with no value type specified in iterable type Symfony\\Component\\Form\\FormBuilderInterface#'

       # no idea how to fix these now, possible sources: https://github.com/phpstan/phpstan-doctrine/blob/e560d32f6fb68e5bbec0e556a69723e7faece14a/tests/Rules/Doctrine/ORM/data/EntityWithRelations.php
        - '#Method (.*?) return type with generic interface Doctrine\\Common\\Collections\\Collection does not specify its types\: TKey, T#'
        - '#Property (.*?) with generic interface Doctrine\\Common\\Collections\\Collection does not specify its types\: TKey, T#'
