@import "~bootstrap/scss/bootstrap";

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

body {
    font-size: 16px;
    line-height: 1.3em;
}

.brand-link {
    color: black;
    font-size: 2em;
    padding: 5px;
    border-radius: 3px;
    text-decoration: none;
    line-height: 1;
    display: flex;
    align-items: center;

    &:hover  {
        color: #000000;
        text-decoration: none;
    }

    img {
        height: 4em;
        display: block;
        margin-right: 10px;
    }
}

.card.complete {
    background-color: #f8f9fa !important;
}

.btn-lite {
    background-color: #eeeeee;
    border-radius: 5px 7px;
    padding: 5px;
    color: #000000;
    font-size: 12px;
    text-decoration: none;
}

.btn-lite:hover {
    color: #000000;
    background-color: #AAAAAA;
}

.custom-badge {
    background-color: #721c24;
    border-radius: 5px 7px;
    padding: 5px;
    color: #ffffff;
    font-size: 12px;
}

.between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header, .card-footer {
    background-color: transparent;
}

.card-header-progress .progress-bar {
    background-color: #008B00;
}

.card-header-progress {
    border: 0 !important;
    border-radius: 0px !important;
}

.icon-btn-link i {
    color: #222222;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(205, 205, 205, 0.15);
}

.icon-btn-link i:hover {
    background-color: rgba(0, 0, 0, 0.15);
    transition: all 0.35s ease-in-out;
}


.notification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

.notification.success {
    background-color: #d4edda;
    color: #155724
}

.notification.error {
    background-color: #f8d7da;
    color: #721c24
}

.notification.warning {
    background-color: #fff3cd;
    color: #856404
}

.notification.info {
    background-color: #d1ecf1;
    color: #0c5460
}
